<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">To create a new User...</a></li>
  <li><a data-toggle="tab" href="#menu1">To Write a new Micropost...</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>To create a new User...</h3>
    <h3><p>Click on "Users" above!</p></h3>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>To write a new Micropost...</h3>
    <h3><p>Click on "Microposts" above!</p></h3>
  </div>
</div>
  </head>
  <body>
  </body>
</html>

