<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <h1>Home</h1>
  </head>
  <body>
    <p>Welcome to my application! I hope you enjoy your visit. Here's a link for some fun!</p>
    <h3>https://www.youtube.com/watch?v=Sv6dMFF_yts</h3>
  </body>
</html>

